* {
    color: white;
    text-shadow: 0px 0px 15px #000, -1px -1px #000, 1px 1px #000;
    text-align: center;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1, p {
    margin: 0;
    padding: 0;
}

div {
    padding: 1%;
}

#warcraft {
    height: 33vh;
    background-image: url("./img/warcraft.jpg");
}

#overwatch {
    height: 33vh;
    background-image: url("./img/overwatch.png");
    background-position: center 83%;
}

#legion {
    height: 34vh;
    background-image: url("./img/legion.jpg");
    background-position: center 100%;
}

